<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sehrishsheikh.virtualcook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login_Via_Account.ChefSideView.BNV"></activity>
        <activity android:name=".Login_Via_Account.ChefSideView.FirstFragment.Chef_Dishes.ViewImageActivity" />
        <activity android:name=".Login_Via_Account.ChefSideView.FirstFragment.Chef_Dishes.ChefPostActivity" />
        <activity android:name=".Chef.ChefPostDetailActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".Login_As_Guest.Home.HomeItemDetail" />
        <activity android:name=".Pager" />
        <activity android:name=".DrawerLayoutActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Chef.ChefActivtiy" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>